body {
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    margin: 0;

}

.barra {
    display: flex;
    top: 0;
    height: 7vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.barra nav {
    background-color: rgba(37, 37, 37, 0.8);
    border-radius: 10px;
    background-color: rgba(37, 37, 37, 0.8);
    border-radius: 10px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    max-height: 7vh;
    max-height: 7vh;
    & div a {
        font-size: 1.5vw;
        font-size: 1.5vw;
        text-decoration: unset;
        color: white;
    }
    & div a:hover {
        font-size: 1.7vw;
        color: white;
    }
    & div a:hover {
        font-size: 1.7vw;
    }
}

.barra-opciones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.barra-idioma {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15%;
}

.barra nav a:hover {
    font-size: 1.1vw;
}

.main {
    width: 100%;
    height: 97vh;
    height: 97vh;
    font-size: 2vw;
    color: beige;
    background-image: url(portada.jpg);
    background-size: cover;
    background-position: center;
}

.cuadro-presentacion {
    position: relative;
    display: grid;
    /* border: 5px solid; */
    border-radius: 1vw;
    box-shadow: 2vw 2vw 5px rgba(0, 0, 0, 0.65);
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
                        "sign-in sign-in"
                        ". name"
                        ". hab"
                        "sign-out sign-out";
    top: 25%;
    left: 7%;
    /* height: 50%; */
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.25);
}

#sign-in {
    display: flex;
    grid-area: sign-in;
    font-size: 2vw;
    justify-content: left;
    margin: 0 0;
}
#sign-out {
    display: flex;
    grid-area: sign-out;
    font-size: 2vw;
    justify-content: left;
    margin: 0 0;
}
#name {
    grid-area: name;
    width: 150%;
    text-align: start;
    font-family: "Bebas Nueu";
    font-size: 6vw;
    margin: 0 0;
}
#hab {
    display: flex;
    grid-area: hab;
    font-size: 4vw;
    margin: 0 0;
    align-items: center;
}


.portafolio {
    background-color: blanchedalmond;
}

.seccion-imagen {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    align-content: center;
}

.titulo {
    width: 100%;
    margin-top: -80px;
    margin-bottom: -90px;
    color: white;
    background-color: rgb(111, 128, 144);
    font-family: System-ui;
    text-align: center;
    font-size: 40px;
    /*  border: solid 5px lightsteelblue;
    border-radius: 100%;  */
    padding: 85px;
    padding-bottom: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0 15px rgb(111, 128, 144);
}

.img-perfil {
    display: flex;
    width: 300px;
    border-radius: 50%;
    border: solid 8px rgb(213, 220, 228);
}

.cuadroDatos {
    font-size: 20px;
    padding-left: 25px;
}

.cuadroDatos h5 {
    margin-top: -22px;
}

.cuadroDatos h4 {
    margin-top: 5px;
}

.titulo-datos-personales {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 8px;
}

h2 {
    color: black;
}

.barra-lateral {
    background: rgb(241, 241, 241);
}

.cuerpo {
    background: rgb(255, 255, 255);

}



.presentacion {
    box-sizing: border-box;
    font-family: Calibri;
    font-style: italic;
    background-color: rgb(197, 204, 210);
    text-align: justify;
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgb(111, 128, 144);
}

/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: .7;
    gap: 50px;
    height: 40px;
    border-radius: 10px;
} */

/* nav a {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    transition-duration: 2s;
} */

/* nav a:hover {
    font-size: 22px;
} */

.iconos {
    height: 1em;
    margin-right: 6px;
}

h5 {
    margin-left: 30px;

}
